body {
    width: 100%;
    margin: 0;
    font-family: monospace, sans-serif;
    background: url('../butt.png');
}

img {
    width: 100%;
}

#noise {
    position: relative;
}

.window {
    max-width: 100%;
    max-height: 100%;
}
.tha-form {
    margin-bottom: 10px;
}

.kill {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    box-shadow: 11px 2px 15px 8px #FE0C0C;
}
.window {
    top: 35vh;
    left: 35vw;
}